<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="false"
         bootstrap="bootstrap.php"
         strict="true">
	<php>
		<env name="APPLICATION_ENV" value="test"/>
	</php>
	<testsuites>
		<testsuite name="FSphinxPHP Test Suite">
			<file>suite/QueryTest.php</file>
			<file>suite/CacheTest.php</file>
			<file>suite/SphinxTest.php</file>
			<file>suite/FacetTest.php</file>
			<file>suite/IntegrationTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>